body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size:50px ;

}
span{color:orange ;

}
section{
    display: flex;
    margin-bottom: 100px;
}
.book{
    width: 50%;
  padding-left: 5px;
}
.book{
    width: 150%;
    padding: 5px;
}
.Hire{
    text-decoration: none;
    color: rgb(38, 156, 127);
  background-image: linear-gradient(orange, tomato);
   padding: 10px 30px;
   border-radius: 5px;
   color: white;
   font-weight: 700;
}
.top-banner{
  background-image: url(top-banner.png);
  background-repeat: no-repeat;
}
.copy{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


